extends layout

block content
  include ../components/navbar.pug

  .games-card 
    h3 League of Legends
    .card-content 
        img(src='./images/LoL.png' alt='League of Legends' width='200' height='100')
        
  .games-card 
    h3 Valorant 
    .card-content 
        img(src='./images/VALORANT_Logo_V.jpg' alt='League of Legends' width='200' height='100')
    
    