doctype html
html
  head
    title= title
    script(src='/javascripts/index.js')
    script(src='/controllers/authController.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Oswald', type='text/css')
    block styles
  body
    block content
    
    footer.footer 
      p © 2023 GroupD. All rights reserved.
