.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

label {
    font-size: 20px;
    flex: 1;
    text-align: right;
    margin-right: 12px;
}

input { 
    flex: 2;
    height: 24px;
}
   
label, input {
    margin-bottom: 10px;
}

.lead {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #302c54;
}

a:hover {
    color: #6d64b7
}

#forgot {
    padding-top: 18px;
}