* {
  font-family: 'Oswald' ;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: #f6eef5;
}

.body-container {
  height: 100%;
  width: 100%;
  padding: 10px;
  margin: 0;
}

.header {
  background-color: #a27dba; 
  color: #020302;
  width: 100%;
  font-size: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header-menu { 
 display: flex;
 justify-content: space-evenly;
}

.header-menu a{
  text-decoration: none;
  color: #020302;
  padding:  10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header-menu a:hover {
  background-color: #bbcdff;
  color: #020302;
}

footer p {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* || Home Page Styling */

.card-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.card {
  flex: 1 0 calc(50% - 20px); 
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc; 
  display: flex;
  flex-direction: column; 
}

#left.card {
  flex-direction: row;
}

#right.card {
  flex-direction: row-reverse;
}
#right.card h2, #right.card h3, #right.card p {
  flex-direction: row;
}

.card img {
  width: 100%; 
  height: auto;
  order: 1;
}

.card h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px; 
}

.card h3 {
  font-size: 24px;
}

.card p {
  font-size: 16px;
}

/* || Register / Login styles */

.form-container { 
  height: 80%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.form-container h1 {
  font-size: 48px;
  text-align: center;
}

.errorMessage {
  color: red;
  margin-bottom: 20px;
}

.button-group {
  width: 100%;
  display: flex;
  align-items: right;
  justify-content: right;
  gap: 15px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #302c54;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #6d64b7;
}