block content
  .header
    nav.header-menu
      a(href='/') Home
      a(href='/profile') Profile
      a(href='/groupFinder') Find a Team
      a(href='/setting') Settings
      a(href='/login') Login
      a(href='/signout') Sign Out
